{% include "partials/head.njk" %}
<body>
  <div class="color-scheme-wrapper">
    <div id="nav-wrapper">
      <div id="site-logo-text"><a href="/">{{ website.title }}</a></div>
      <div id="header-nav-bar">{% include "partials/navigation.njk" %}</div>
    </div>
    <div id="main-wrapper">
      <main>
        {{ content | safe }}
      </main>
    </div>

    <div id="footer-wrapper">
      <footer>
        <a href="https://twitter.com/xeladoesart">titter</a>
        <a href="https://www.instagram.com/xeladoesart/">instagram</a>
        </footer>
    </div>
  </div>
</body>
</html>