---
layout: base.njk
---

<div>
    <a href="/">Featured</a>
    <a href="/paintings/">Paintings</a>
    <a href="/dry-media/">Dry Media</a>
    <a href="/digital/">Digital</a>
    <a href="/sketches/">Sketches</a>
</div>

{{ content | safe }}
