---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
layout: gallery
---

<div id="gallery">
{% set taglist = collections[ tag ]  %}
{% for post in taglist | reverse %}
<div><a href="{{ post.url }}" name="{{ post.tite }}"><img src="{{post.data.image}}" alt="{{ post.tite }}"></a></div>
{% endfor %}
</div>
