---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
layout: gallery
---

<ul>
{% set taglist = collections[ tag ]  %}
{% for post in taglist | reverse %}
<li><a href="{{ post.url }}"><img src="{{post.data.image}}" alt="{{ post.data.tite }}"></a></li>
{% endfor %}
</ul>