---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /{{ tag }}/
title: A gallery of /{{ tag }}
layout: gallery
---

<div id="gallery">
{% set taglist = collections[ tag ]  %}
{% for post in taglist | reverse %}
<div><a href="{{ post.url }}" name="{{ post.data.title }}"><img src="{{post.data.image}}" alt="{{ post.data.title }}"></a></div>
{% endfor %}
</div>
