<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noimageai" />
  <meta name="robots" content="noai" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} - {{ website.title }}">
  {% if metadesc %}
    <meta name="description" content="{{ metadesc }}">
    <meta property="og:description" content="{{ metadesc }}">
  {% else %}
    <meta name="description" content="{{ website.description }}">
    <meta property="og:description" content="{{ website.description }}">
  {% endif %}
  {% if hero %}
    <meta property="og:image" content="{{ hero }}">
  {% else %}
    <meta property="og:image" content="/assets/images/wildlands.png">
  {% endif %}
  <link rel="stylesheet" href="{{ '/css/style.css' | url | bust }}" type="text/css" />
  <link rel="stylesheet" href="{{ '/css/print.css' | url | bust }}" type="text/css" media="print" />
  <title>{{ title }} - {{ website.title }}</title>
</head>